.app-container {
  margin: 0 5vh;
  height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.app-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Hide the spin buttons for WebKit browsers (Chrome, Safari, Edge, Opera) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spin buttons for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* General styling for the search bar */
.search-bar {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
}
