/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
html {
  font-size: 100%;
}

body {
  font-family: "Roboto Condensed", Arial, sans-serif; /* Updated font-family */
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: black;
}

/* Top row styling */
.top-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 900px; /* Adjust max-width to control the layout */
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 900px; /* Adjust max-width to control the layout */
}

/* Grid container */
.whole-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 900px; /* Adjust max-width to control the layout */
}

/* Grid items - ensuring square dimensions */
.grid-item {
  background-color: black;
  color: white;
  aspect-ratio: 1 / 1; /* Ensures the element is square */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.grid-item:hover {
  background-color: #000000de;
}

/* Responsive grid */
@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .top-row {
    grid-template-columns: 1fr;
  }

  .title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .search-bar {
    margin-bottom: 1rem;
  }
}
